.container .row .search{
    border: 2px solid black;
    border-radius: 20px;
}

.container .row .search input{
    border: none;
}

.container .row .search input::placeholder{
    color: black;
}

a{
    text-decoration: none;
}

ul li a:hover{
    text-decoration: underline;
}

.navbar{
    display: none;
}

.row .pic{
    margin-top: 10px;
}

.row .pic img{
    width: 100%;
}

.row .text{
    margin-left: 100px;
    margin-top: 150px;
}

.row .text button{
    margin-right: 10px;
    border-radius: 0;
    width: 35%;
    font-weight: bold;
}

.WWO-Carousel{
    display: none;
}

.WWO{
    height: 280px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(12, 12, 12, 0.3);
}

.rounded{
    border-radius: 30px !important;
    height: 400px;
}

.tES{
    display: none;
}

.kit img{
    border: 1px solid gray;
    color: rgb(148, 137, 137);
}

.kit .disabled{
    border: none;
    background-color: rgb(122, 121, 121);
    color: white;
    padding: 10px 120px;
    margin-top: 30px;
}

.kit-2{
    display: none;
}

.review-carousel{
    display: none;
}

@media screen and (max-device-width: 1024px){
   body .try-lash .row{
       display: block;
    }

    body .try-lash .row .pic{
        position: relative;
    }

    body .try-lash .row .text{
        position: absolute;
        bottom: 110px;
        left: -70px;
    }

    body .WWO-Container{
        display: none;
    }

    body .WWO-Carousel{
        display: block;
    }
}

@media screen and (max-device-width: 768px){
    body .logo{
        display: none;
    }

    body .nav{
        display: none;
    }

    body .navbar{
        display: block;
        position:static !important;
        background-color: white !important;
    }

    body .navbar .ham{
        border: transparent;
    }

    body .navbar .rounded-search{
        border-radius: 20px;
        border: 2px solid black;
        width: 90%;
        padding: 8px;
    }

    body .navbar .rounded-search .in-search{
        border: transparent;
        width: 50%;
        margin-top: -30px;
    }

    body .profile h5{
        display: inline;
    }

    body .try-lash .row .text{
        position: absolute;
        bottom: 26rem;
    }

    body .rounded{
        height: 90%;
        width: 20%;
    }

    body .review{
        display: none;
    }

    body .review-carousel{
        display: block;
    }

    body .WWO-review{
        margin-left: 200px;
    }
}

@media screen and (max-device-width: 425px){
    body .try-lash .row .text{
        bottom: 7rem;
        left: -6rem
    }

    body .TES{
        display: none;
    }

    body .tES{
        display: block;
    }

    body .kit{
        display: none;
    }

    body .kit-2{
        display: block;
    }

    body .WWO-review{
        margin-left: 0;
        width: 100% !important;
    }
}

@media screen and (max-device-width: 375px){
    body .try-lash{
        height: 400px;
    }

    body .try-lash .row .text{
        bottom: 6rem;
    }

    body .kit-2 .kit-2-button button{
        padding: 10px 130px;
    }
}

@media screen and (max-device-width: 320px){
    body .row .text button{
        width: auto;
    }

    body .tES .caption{
        font-size: small;
    }

    body .kit-2 .kit-2-button button{
        padding: 10px 100px;
    }
}