.container .row .search{
    border: 2px solid black;
    border-radius: 20px;
}

.container .row .search input{
    border: none;
}

.container .row .search input::placeholder{
    color: black;
}

ul li a:hover{
    text-decoration: underline;
}

.row .pic{
    margin-top: 10px;
}

.row .pic img{
    width: 100%;
}

.row .text{
    margin-left: 100px;
    margin-top: 150px;
}

.row .text button{
    margin-right: 10px;
    border-radius: 0;
    width: 35%;
    font-weight: bold;
}

.WWO-Carousel{
    display: none;
}

.WWO{
    height: 280px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(12, 12, 12, 0.3);
}

.rounded{
    border-radius: 30px !important;
    height: 400px;
}

.kit img{
    border: 1px solid gray;
    color: rgb(148, 137, 137);
}

.kit .disabled{
    border: none;
    background-color: rgb(122, 121, 121);
    color: white;
    padding: 10px 120px;
    margin-top: 30px;
}

@media screen and (max-device-width: 1024px){
   body .try-lash .row{
       display: block;
    }

    body .try-lash .row .pic{
        position: relative;
    }

    body .try-lash .row .text{
        position: absolute;
        bottom: 40px;
        left: 0;
    }

    body .WWO-Container{
        display: none;
    }

    body .WWO-Carousel{
        display: block;
    }
}